* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Spartan, Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  background: $dark-blue-main-background;
  color: $white;
}

.container {
  width: 50rem;
  margin: auto;
}

body.theme-2 {
  background: $light-gray-mainbackground;
  color: $Very-dark-grayish-yellow;
}

body.theme-3 {
  background: $Very-dark-violet-main-background;
  color: $Light-yellow;
}

@media (max-width: 530px) {
  .container {
    max-width: 350px;
  }
}
