// Color
// Themes 1
// Backgrounds
$dark-blue-main-background: #3a4764;
$dark-blue-toggle-keypad-background: #232c43;
$dark-blue-screen-background: #182034;
// Keys
$dark-blue-key-background: #637097;
$dark-blue-keyshadow: #404e72;
$red-keybackground-toggle: #d03f2f;
$dark-red-keyshadow: #93261a;
$light-grayish-orange-keybackground: #eae3dc;
$grayish-orange-keyshadow: #b4a597;
// Text
$very-dark-grayish-blue: #444b5a;
$white: white;

// Themes 2
// Background
$light-gray-mainbackground: #e6e6e6;
$Grayish-red-toggle-keypad-background: #d1cccc;
$Very-light-gray-screen-background: #ededed;
// Keys
$Dark-moderate-cyan-key-background: #377f86;
$Very-dark-cyan-key-shadow: #1b5f65;
$Orange-key-background-toggle: #ca5502;
$Dark-orange-key-shadow: #893901;
$Light-grayish-yellow-key-background: #e5e4e1;
$Dark-grayish-orange-key-shadow: #a69d91;
// Text
$Very-dark-grayish-yellow: #35352c;

//Themes 3
// Background
$Very-dark-violet-main-background: #160628;
$Very-dark-violet-toggle-keypad-screen-background: #1d0934;
//Keys
$Dark-violet-key-background: #58077d;
$Vivid-magenta-key-shadow: #bc15f4;

$Pure-cyan-key-background-toggle: #00e0d1;
$Soft-cyan-key-shadow: #6cf9f2;

$Very-dark-violet-key-background: #341c4f;
$Dark-magenta-key-shadow: #871c9c;
//Text
$Light-yellow: #ffe53d;
$Very-dark-blue: #1b2428;

// Spaces
$border-radius: 1rem;
$mobile: 53rem;
